<div class="container-papa">
  <div class="container-card">

    <ion-card>

      <ion-input class="input color-label" label="Nombre" formControlName="email"
            label-placement="floating" type="text" fill="solid"
            placeholder="Ingrese su nombre..."></ion-input>

            <ion-input class="input color-label" label="Correo" formControlName="email"
            label-placement="floating" type="email" fill="solid"
            placeholder="Ingrese un correo..."></ion-input>

            <ion-input class="input color-label" label="Correo" formControlName="email"
            label-placement="floating" type="email" fill="solid"
            placeholder="Ingrese un correo..."></ion-input>

            <mat-form-field class="example-full-width">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
      
    </ion-card>

  </div>

</div>