.container-papa{
    display: flex;
    // align-items: center;
    justify-content: center;
    width: 100%;
    height: 100rem;
    background-color: #02233d;
}

.container-card{
    margin: 20px;
    margin-top: 5rem;
    width:  30rem;
    
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }